*{margin: 0;}

.canalDeCompra{
    display: flex;
    width: 85%;
    margin: 15px 0 0 85px;
}

.canalDeCompra .volver{
    display: inline;
    text-decoration: none;
    color: #171718bd;
    font-family: "Proxima Nova";
    font-size: 14px;
    padding-right: 12px;
    border-right: 1px solid rgba(0, 0, 0, 0.308);
    margin-right: 12px;
}

.canalDeCompra .volver:hover{color:#3483fa;}

.canalDeCompra .textosLi, .compartir, .venderIgual{
    display: inline;
    text-decoration: none;
    color: #3483fa;
    font-family: "Proxima Nova";
    font-size: 14px;
}

.canalDeCompra ul{
    padding: 0;
}

.textoSuperior{
    display: inline;
}

.compartirVender{
    position: relative;
    left: 85px;
}


.fa-chevron-right{
    font-size: 10px;
    color: rgba(0, 0, 0, 0.600);
    font-weight: 100;
    padding: 0 3px 0 3px;
}

/* Sector de la compra Mercado Libre*/

#sectorCompra{
    display: flex;
    height: 90vh;
    width: 85%;
    margin: 10px 85px 0 85px;
    background-color: #eee;
}

.boxGeneral{
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.boxGeneral, .galeriaImg{
    background-color: #fff;
}

.boxZoom{border-radius: 5px;}


.galeriaImg{
    /* outline: 1px solid; */
    width: 50px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin: 14px;
}

.galeriaImg .imagenes{
    max-width: 45px;
    height: auto;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 4px;
    padding: 2px 2px 2px 2px;
    margin-bottom: 10px;
}

.imagenes:hover{
    border: 1px solid #3483fa;     
}

.imgProducto{
    width: auto;
    height: 100%;
}

.imgProducto img{
    /* outline: 1px solid; */
    max-width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    background-color: #fff;
}

.boxZoom{
    display: flex;
    background-color: #fff;
}

/* Información del producto */

.infoProducto{
    display: flex;
    flex-direction: column;
    width: 350px;
    background-color: #fff;
    padding: 10px 0 0 20px;
}

.nuevo{
    display: flex;
    justify-content: space-between;
    width: 300px;
    font-family: "Proxima Nova";
    font-weight: 100;
    font-size: 13px;
    color: #949494;
    background-color: #fff;   
    padding-top: 12px;
}

.iconCorazon{
    stroke: #3483fa;
    fill: none;
    position: absolute;
    width: 24px;
    height: 21px;
    overflow: visible;
    background-color: #fff;
}

.iconCorazon:active{
    width: 24px;
    height: 21px;
    fill: #3483fa;
    stroke: #3483fa;
}

.nombreCamara{
    font-family: "Proxima Nova";
    font-weight: 400;
    font-size: 25px;
    color: #000;
    padding: 2px 0 8px 0;
    background-color: #fff;   
}

.estrellas{
    display: flex;
    background-color: #fff;
}

.estrellas a{
    text-decoration: none;
    background-color: #fff;

}

.estrellas .numero15{
    font-family: "Proxima Nova";
    color:  rgba(0,0,0,.3);
    padding-left: 8px;
}

.estrellas .estrellaImg{
    max-width: 13px;
    height: auto;
    background-color: #fff;
    padding:2px;
}

.precio{
    font-family: "Proxima Nova";
    font-weight: 400;
    font-size: 33px;
    color: rgba(0, 0, 0, 0.900);
    padding: 15px 0 5px 0;
    background-color: #fff;   
}

.envio{
    font-family: "Proxima Nova";
    font-weight: 500;
    font-size: 13px;
    color: #ffffff;
    max-width: 135px;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: #1c74f8cc;
    border-radius: 4px ;
    padding: 6px;
    margin: 0px 0 20px 0;
}
.caracteristicas{background-color: #fff; }

.caracteristicas li{
    list-style: none;
    font-family: "Proxima Nova";
    font-weight: 200;
    font-size: 13px;
    color: #949494;
    background-color: #fff;   
    line-height: 25px;
}

.caracteristicas li::before {
    content: "•";
    color: rgba(0, 0, 0, 0.45);
    padding-right: 5px;
}

.opcionDeCompra{
    font-family: "Proxima Nova";
    font-weight: 100;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.808);
    padding: 30px 0 0px 0;
    background-color: #fff;   
}

.dosProductos{
    text-decoration: none;
    font-family: "Proxima Nova";
    font-weight: 100;
    font-size: 13px;
    color: #1460d1;
    background-color: #fff;   

}


/* Información de la compra del producto */

.infoCompra{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 280px;
    height: 80vh;
    background-color: #fff;   
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 10px;
    padding: 16px 16px 16px 16px;
    margin-right: 15px;
}




.pagaHasta{
    font-family: "Proxima Nova";
    font-weight: 100;
    font-size: 15px;
    letter-spacing: 0.02em;
    color: rgba(0, 0, 0, 0.808);
    background-color: #fff;
}

.conVisa{
    font-family: "Proxima Nova";
    font-weight: 100;
    font-size: 13px;
    letter-spacing: 0.02em;
    color: rgba(0, 0, 0, 0.616);
    background-color: #fff;
    margin: 0 0 4px 0;
}

.masInfo{
    text-decoration: none;
    font-family: "Proxima Nova";
    font-weight: 100;
    font-size: 13px;
    letter-spacing: 0.02em;
    color: #1460d1;
    background-color: #fff;
}

.masInfo:hover{color:#0040a0;}
.verMapa:hover{color:#0040a0;}
.enviar:hover{color:#0040a0;}
.puntoEnvio:hover{color:#0040a0;}
.dosProductos:hover{color:#0040a0;}

.llegaGratis{
    font-family: "Proxima Nova";
    font-weight: 100;
    font-size: 15px;
    letter-spacing: 0.02em;
    color: #96942d;
    background-color: #fff;
    margin: 0 0 4px 0;
}

.puntoEnvio{
    background-color: #fff;
    fill:#3483fa;
    margin-right: 6px;
}


.enviar{
    text-decoration: none;
    font-family: "Proxima Nova";
    font-weight: 100;
    font-size: 13px;
    letter-spacing: 0.02em;
    color: #1460d1;
    background-color: #fff;
}


.retiraloGratis{
    font-family: "Proxima Nova";
    font-weight: 100;
    font-size: 15px;
    letter-spacing: 0.02em;
    color: #96942d;
    background-color: #fff;
    margin: 0 0 4px 0;
}

.verMapa{
    text-decoration: none;
    font-family: "Proxima Nova";
    font-weight: 100;
    font-size: 13px;
    letter-spacing: 0.02em;
    color: #1460d1;
    background-color: #fff;
}

.boxCuatro{
    align-self: center;
    width: 270px;
}

.vendidoPor{
    font-family: "Proxima Nova";
    font-weight: 100;
    font-size: 13px;
    letter-spacing: 0.02em;
    color: rgba(0, 0, 0, 0.808);
    background-color: #fff;
}

.vendidoPor .latitudesSur{
    text-decoration: none;
    font-family: "Proxima Nova";
    font-weight: 100;
    font-size: 13px;
    letter-spacing: 0.02em;
    color: #1460d1;
    background-color: #fff;
}

.ventas{
    font-family: "Proxima Nova";
    font-weight: 100;
    font-size: 13px;
    letter-spacing: 0.02em;
    color: rgba(0, 0, 0, 0.808);
    background-color: #fff;
    margin: 0 0 4px 0;
}

.factura{
    font-family: "Proxima Nova";
    font-weight: 100;
    font-size: 12px;
    letter-spacing: 0.02em;
    color: rgba(0, 0, 0, 0.719);
    background-color: #fff;
}

.boxUno, .boxDos, .boxTres, .boxCuatro, .boxCinco{
    padding: 0 20px 20px 20px;
    background-color: #fff;
}

span{
    font-weight: 400;
    background-color: #fff;

}

.boxCinco{
    width: 270px;
    display: flex;
    align-self: center;
}

.cantidad{
    font-size: 15px;
    font-family: "Proxima Nova";
    font-weight: 200;
    color: rgba(0, 0, 0, 0.808);
    background-color: #fff;
}

.unidades{
    font-size: 14px;
    font-family: "Proxima Nova";
    font-weight: 400;
    letter-spacing: 0.01em;
    color: rgba(0, 0, 0, 0.411);
    background-color: #fff;
}

.boxCinco, select, option{
    background-color: #fff;
    border: 0px;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.808);
    letter-spacing: 0.02em;
}


.btnComprarAhora{
    border: 1px solid;
    border-color: #3483fa;
    border-radius: 4px;
    background-color: #3483fa;
    color: #fff;
    font-family: Proxima Nova;
    font-size: 18px;
    font-weight: 100;
    padding: 14px 16px;
    margin-top: 20px;
    transition: .2s;
    cursor: pointer;
}

.btnComprarAhora:hover{
    background-color: #2176f5;
}

.btnAgregarCarrito{
    border: 1px solid;
    border-color: #3483fa;
    border-radius: 4px;
    background-color: #fff;
    color: #3483fa;
    font-family: Proxima Nova;
    font-size: 18px;
    font-weight: 100;
    padding: 14px 16px;
    margin-top: 8px;
    transition: .2s;
    cursor: pointer;
}

.btnAgregarCarrito:hover{
    background-color:rgba(216, 216, 216, 0.24);
}